<h1 id="usersLabel">Flights</h1>

<form #filterForm="ngForm" (ngSubmit)="onApplyFilter()">
  <div class=" form-row">
    <div class="form-group col">
      <input type="text" name="search" class="form-control" placeholder="Search by city, aviation, travel length, price..." [(ngModel)]="search">
    </div>
  </div>
  <div class=" form-row">
    <div class="form-group col">
      <label>From</label>
      <input type="datetime-local" name="from" class="form-control" [(ngModel)]="from">
    </div>
    <div class="form-group col">
      <label>To</label>
      <input type="datetime-local" name="to" class="form-control" [(ngModel)]="to">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group">
      <input type="submit" class="form-control btn btn-primary" value="Apply filter" />
    </div>
  </div>
</form>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="displayedFlights">
  <thead>
    <tr>
      <th>From</th>
      <th>To</th>
      <th>Departure Time</th>
      <th>Arrival Time</th>
      <th>Ticket Price ($)</th>
      <th>Travel Length (km)</th>
      <th>No. Changeovers</th>
      <th>Aviation</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let flight of displayedFlights">
      <td>{{flight.from.cityName}}</td>
      <td>{{flight.to.cityName}}</td>
      <td>{{flight.departureTime}}</td>
      <td>{{flight.arrivalTime}}</td>
      <td>{{flight.ticketPrice}}</td>
      <td>{{flight.travelLength}}</td>
      <td>{{flight.numberOfChangeovers}}</td>
      <td>{{flight.aviationCompanyName}}</td>
      <td>
        <button (click)="flightDetails(flight.id)" class="btn btn-secondary">Details</button>
      </td>
    </tr>
  </tbody>
</table>
