<section class="container">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div>
      <label for="pass">New Password</label>
      <div class="input-group">
        <input [class.is-invalid]="isInvalid('password')" type="password" autocomplete="on" id="pass" class="form-control" name="password" formControlName="password">
      </div>
      <div *ngIf="isInvalid('password') || password.dirty">
        <small *ngIf="password.errors?.required" class="text-danger">Password is required</small>
        <small *ngIf="password.errors?.minlength" class="text-danger">Password must be minimum 3 characters long</small>
      </div>

      <br />

      <label for="passRep">Repeat password</label>
      <div class="input-group">
        <input [class.is-invalid]="isInvalid('passwordRepeated') || (formGroup.errors?.passwordsMatch && passwordRepeated.touched)" type="password"
               autocomplete="on" id="passRep" class="form-control" name="passwordRepeated" formControlName="passwordRepeated">
      </div>
      <div *ngIf="isInvalid('passwordRepeated') || passwordRepeated.dirty">
        <small *ngIf="passwordRepeated.errors?.required" class="text-danger">Password is required</small>
        <small *ngIf="passwordRepeated.errors?.minlength" class="text-danger">Password must be minimum 3 characters long</small>
        <small *ngIf="formGroup.errors?.passwordsMatch && !passwordRepeated.errors?.required && !passwordRepeated.errors?.minlength"
               class="text-danger">Password does not match</small>
      </div>
    </div>
    <br />
    <div>
      <button type="submit" [disabled]="!formGroup.valid" class="btn btn-outline-dark">Submit</button>
    </div>
  </form>
</section>
