<div class="d-flex">
  <ul ngbNav #nav="ngbNav" class="nav-pills col-md-2" orientation="vertical">

    <!-- Prikaz svih aviokompanija -->
    <li ngbNavItem="top">
      <a ngbNavLink>Avio kompanije</a>
      <ng-template ngbNavContent>
        <div class="card-columns" id="collapsable" [ngbCollapse]="isCollapsed">
          <div class="card" style="width: 18rem;" *ngFor="let company of aviationCompanies">
            <h3 class="card-header">{{company.name}}</h3>

            <div class="card-body">
              <p class="card-text">{{company.description}}</p>
              <p class="card-text">City: {{company.address.cityName}}</p>
              <p *ngIf="!!company.averageRating" class="card-text">Average rating: {{company.averageRating}}</p>
              <br />
            </div>

            <div class="card-footer">
              <button class="btn btn-primary" (click)="aviationDetails(company.id)">Details</button>
            </div>
          </div>
        </div>
      </ng-template>
    </li>

    <!-- Prikaz svih rent-a-car servisa -->
    <li ngbNavItem="middle">
      <a ngbNavLink>Rent-a-car kompanije</a>
      <ng-template ngbNavContent>
        <div class="card-columns" id="collapsableRAC" [ngbCollapse]="isCollapsedRAC">
          <div class="card" style="width: 18rem;" *ngFor="let agency of rentACarAgencies">

            <h3 class="card-header">{{agency.name}}</h3>

            <div class="card-body">
              <p class="card-text">{{agency.description}}</p>
              <div class="card-text">{{agency.address}}</div>
              <br />
              <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-dark" id="dropdownBasic1" ngbDropdownToggle>Cars</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button ngbDropdownItem *ngFor="let car of agency.Cars">{{car.name}}</button>
                </div>
              </div>
              <br />
              <br />
              <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-dark" id="dropdownBasic1" ngbDropdownToggle>Branches</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button ngbDropdownItem *ngFor="let branch of agency.branches">{{branch.name}}</button>
                </div>
              </div>
            </div>

            <div class="card-footer">
              <div>
                {{agency.averageRating}}
              </div>
              <div>
                <button *ngIf="backend.getLogedInUserType() == 'RentACarAdmin'" class="btn btn-warning" (click)="details(agency.id)">Details</button>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="ml-4"></div>
</div>
