<div class="d-flex">
  <ul ngbNav #nav="ngbNav" class="nav-pills col-md-2" orientation="vertical">

    <!-- Prikaz svih aviokompanija -->
    <li ngbNavItem="top">
      <a ngbNavLink>Avio kompanije</a>
      <ng-template ngbNavContent>

        <form #filterForm="ngForm" (ngSubmit)="onFilterFlight()">
          <div class="form-row">
            <div class="form-group col">
              <input type="text" name="search" class="form-control" placeholder="Search..." [(ngModel)]="searchFlight">
            </div>
            <div class="form-group col-md-2">
              <input type="submit" class="form-control btn btn-primary" value="Apply filter" />
            </div>
          </div>
        </form>

        <div *ngIf="displayCompanies">
          <div class="card-columns" id="collapsable" [ngbCollapse]="isCollapsed">
            <div class="card" style="width: 18rem;" *ngFor="let company of aviationCompanies">
              <h3 class="card-header">{{company.name}}</h3>

              <div class="card-body">
                <p class="card-text">{{company.description}}</p>
                <p class="card-text">City: {{company.address.cityName}}</p>
                <p *ngIf="!!company.averageRating" class="card-text">Average rating: {{company.averageRating.toPrecision(3)}}</p>
              </div>

              <div class="card-footer">
                <button class="btn btn-primary" (click)="aviationDetails(company.id)">Details</button>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="!displayCompanies">
          <div class="card-columns" id="collapsable" [ngbCollapse]="isCollapsed">
            <div class="card" style="width: 18rem;" *ngFor="let flight of flightsToShow">
              <h3 class="card-header">{{flight.aviationCompanyName}}</h3>

              <div class="card-body">
                <p class="card-text">From city: {{flight.from.cityName}}</p>
                <p class="card-text">To city: {{flight.to.cityName}}</p>
                <p class="card-text">Number of changeovers: {{flight.numberOfChangeovers}}</p>
                <p class="card-text">Ticket price: {{flight.ticketPrice}}</p>
              </div>

              <div class="card-footer">
                <button class="btn btn-primary" (click)="aviationDetails(company.id)">Details</button>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </li>

    <!-- Prikaz svih rent-a-car servisa -->
    <li ngbNavItem="middle">
      <a ngbNavLink>Rent-a-car kompanije</a>
      <ng-template ngbNavContent>

        <form #filterForm="ngForm" (ngSubmit)="onFilterCar()">
          <div class="form-row">
            <div class="form-group col">
              <input type="text" name="search" class="form-control" placeholder="Search..." [(ngModel)]="search">
            </div>
            <div class="form-group col-md-2">
              <input type="submit" class="form-control btn btn-primary" value="Apply filter" />
            </div>
          </div>
        </form>

        <div *ngIf="displayAgencies">
          <div class="card-columns" id="collapsableRAC" [ngbCollapse]="isCollapsedRAC">
            <div class="card" style="width: 18rem;" *ngFor="let agency of rentACarAgencies">

              <h3 class="card-header">{{agency.name}}</h3>

              <div class="card-body">
                <p class="card-text">{{agency.description}}</p>
                <div class="card-text">{{agency.address}}</div>
                <br />
                <div ngbDropdown class="d-inline-block">
                  <button class="btn btn-outline-dark" id="dropdownBasic1" ngbDropdownToggle>Cars</button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem *ngFor="let car of agency.cars">{{car.name}}</button>
                  </div>
                </div>
                <br />
                <br />
                <div ngbDropdown class="d-inline-block">
                  <button class="btn btn-outline-dark" id="dropdownBasic1" ngbDropdownToggle>Branches</button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem *ngFor="let branch of agency.branches">{{branch.name}}</button>
                  </div>
                </div>
              </div>

              <div class="card-footer">
                <div>
                  {{agency.averageRating.toPrecision(3)}}
                </div>
                <div>
                  <button *ngIf="backend.getLogedInUserType() == 'RentACarAdmin' || backend.getLogedInUserType() == 'SystemAdmin'" class="btn btn-warning" (click)="details(agency.id)">Details</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="!displayAgencies">
          <div class="card-columns" id="collapsableRAC" [ngbCollapse]="isCollapsedRAC">
            <div class="card" style="width: 18rem;" *ngFor="let car of carsToShow">

              <h3 class="card-header">{{car.name}}</h3>

              <div class="card-body">
                <p class="card-text">Passenger number: {{car.passengerNumber}}</p>
                <p class="card-text">Type: {{car.type}}</p>
                <p class="card-text">Brand: {{car.brand}}</p>
                <p class="card-text">Model: {{car.model}}</p>
                <p class="card-text">Cost per day: {{car.costPerDay}}</p>
              </div>

              <div class="card-footer">
                <div>
                  {{car.averageRating.toPrecision(3)}}
                </div>
                <div>
                  <button *ngIf="backend.getLogedInUserType() == 'RentACarAdmin'" class="btn btn-warning" (click)="details(agency.id)">Details</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </li>

    <!--Istorija rezervacija vozila-->
    <li ngbNavItem="vozila" *ngIf="backend.isLogedIn()">
      <a ngbNavLink>Istorija rezervacije vozila</a>
      <ng-template ngbNavContent>

        <table class="table table-striped table-bordered" id="collapsableCarResHistory" [ngbCollapse]="isCollapsedCarResHistory">
          <thead class="thead-light">
            <tr>
              <th class="text-center" scope="col">Created on</th>
              <th class="text-center" scope="col">Reserved from</th>
              <th class="text-center" scope="col">Reserved to</th>
              <th class="text-center" scope="col">Ratings</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let reservation of carReservations">
              <td class="text-center">{{reservation.dateCreated | date: 'fullDate'}}</td>
              <td class="text-center">{{reservation.from | date: 'fullDate'}}</td>
              <td class="text-center">{{reservation.to | date: 'fullDate'}}</td>
              <td class="text-center" *ngIf="!reservation.rating && checkDate(reservation.to)"><button class="btn btn-outline-primary" (click)="rateCar(content, reservation)">Rate!</button></td>
              <td class="text-center" *ngIf="!!reservation.rating && checkDate(reservation.to)">{{reservation.rating}}</td>
            </tr>
          </tbody>
        </table>
      </ng-template>
    </li>

    <li ngbNavItem="letovi" *ngIf="backend.isLogedIn()">
      <a ngbNavLink>Istorija rezervacije letova</a>
      <ng-template ngbNavContent>
        <app-ticket-history></app-ticket-history>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="ml-4"></div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-add-rating">Rate car</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
      <div class="form-group">
        <ngb-rating [formControl]="rating"></ngb-rating>
        <div class="form-text small">
          <div *ngIf="rating.valid" class="text-success">Thanks!</div>
          <div *ngIf="rating.invalid" class="text-danger">Please rate us</div>
        </div>
      </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Submit</button>
  </div>
</ng-template>
