<div class="container">
  <div>
    <button class="btn btn-success" (click)="onAddClick(content)" *ngIf="this.backend.getLogedInUserType() === 'RentACarAdmin'">Add</button>
  </div>
  <div>
    <table class="table table-striped table-bordered">
      <thead class="thead-light">
        <tr>
          <th class="text-center" scope="col">From</th>
          <th class="text-center" scope="col">To</th>
          <th class="text-center" scope="col">Discount</th>
          <th class="text-center" scope="col">Total cost</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ticket of quickTickets">
          <td class="">{{ticket.from | date :'short'}}</td>
          <td class="">{{ticket.to | date :'short'}}</td>
          <td class="">{{ticket.discount}}%</td>
          <td class="">{{ticket.costForRange}}</td>
          <td>
            <div class="btn-group" role="group">
              <button class="btn btn-primary" (click)="onReserve(ticket)">Reserve</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-quick-reservation">Add quick reservation</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="editGroup" (ngSubmit)="onSubmit()">

      <div class="input-group" formGroupName="take">
          <label for="takeDate">Datum preuzimanja</label>
          <br />
          <input [class.is-invalid]="editGroup.get('take').get('date').invalid && editGroup.get('take').get('date').touched" class="form-control" id="takeDate" autocomplete="off" placeholder="yyyy-mm-dd" (click)="date.toggle()" [minDate]="minDate" ngbDatepicker #date="ngbDatepicker" formControlName="date">
          <div *ngIf="(editGroup.get('take').get('date').invalid && editGroup.get('take').get('date').touched) || editGroup.get('take').get('date').dirty">
            <small *ngIf="editGroup.get('take').get('date').errors?.required" class="text-danger">Date is required</small>
          </div>
      </div>

      <div class="input-group" formGroupName="return">
          <label for="returnDate">Datum vracanja</label>
          <br />
          <input [class.is-invalid]="editGroup.get('return').get('date').invalid && editGroup.get('return').get('date').touched" class="form-control" id="returnDate" autocomplete="off" placeholder="yyyy-mm-dd" (click)="d.toggle()" [minDate]="minDate" ngbDatepicker #d="ngbDatepicker" formControlName="date">
          <div *ngIf="(editGroup.get('return').get('date').invalid && editGroup.get('return').get('date').touched) || editGroup.get('return').get('date').dirty">
            <small *ngIf="editGroup.get('return').get('date').errors?.required" class="text-danger">Date is required</small>
          </div>
      </div>

      <div class="input-group">
        <label for="cost">Discount</label>
        <input class="form-control custom-range" id="cost" type="range" min="0" max="100" formControlName="discount" (input)="valueChanged($event.target.value)" />
        <label>{{rangeVal}}%</label>
      </div>

      <div class="input-group">
        <div ngbDropdown class="d-inline-block">
          <button type="button" class="btn btn-outline-dark" id="dropdownBasic1" ngbDropdownToggle>Cars</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button type="button" ngbDropdownItem *ngFor="let car of cars" (click)="selectCar(car)">{{car.name}}</button>
          </div>
          <label *ngIf="selectedCar">&nbsp;{{selectedCar.name}}</label>
        </div>
      </div>

      <div class="modal-footer">
        <input type="submit" [disabled]="!editGroup.valid || !selectedCar" class="btn btn-primary" value="Submit" />
      </div>
    </form>
  </div>
</ng-template>
