<p>register works!</p>

<form #register="ngForm" (ngSubmit)="onClickSubmit(register.value)">
  <input type="text" name="firstName" placeholder="first name" ngModel />
  <br />
  <input type="text" name="lastName" placeholder="last name" ngModel />
  <br />
  <input type="text" name="city" placeholder="city" ngModel />
  <br />
  <input type="tel" name="telephone" placeholder="telephone" ngModel />
  <br />
  <input type="email" name="email" placeholder="email" ngModel />
  <br />
  <input type="password" name="password" placeholder="password" ngModel />
  <br />
  <input type="password" name="passwordRepeated" placeholder="password repeated" ngModel />
  <br />
  <input type="submit" value="register">
</form>
