<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Rent A Car Form</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="rentACarGroup" (ngSubmit)="onSubmit()">
  <div class="modal-body">
    <div class="form-group">

      <label for="name">Name</label>
      <div class="input-group">
        <input [class.is-invalid]="rentACarGroup.get('name').invalid && rentACarGroup.get('name').touched" type="text" autocomplete="on" id="name" class="form-control" placeholder="name" name="name" formControlName="name" />
      </div>
      <div *ngIf="(rentACarGroup.get('name').invalid && rentACarGroup.get('name').touched) || rentACarGroup.get('name').dirty">
        <small *ngIf="rentACarGroup.get('name').errors?.required" class="text-danger">Name is required</small>
      </div>
      <br />

      <label for="address">Address</label>
      <div class="input-group">
        <input [class.is-invalid]="rentACarGroup.get('address').invalid && rentACarGroup.get('address').touched" type="text" autocomplete="on" id="address" class="form-control" placeholder="address" name="address" formControlName="address">
      </div>
      <div *ngIf="(rentACarGroup.get('address').invalid && rentACarGroup.get('address').touched) || rentACarGroup.get('address').dirty">
        <small *ngIf="rentACarGroup.get('address').errors?.required" class="text-danger">Address is required</small>
      </div>
      <br />

      <label for="description">Description</label>
      <div class="input-group">
        <input [class.is-invalid]="rentACarGroup.get('description').invalid && rentACarGroup.get('description').touched" type="text" autocomplete="on" id="description" class="form-control" placeholder="description" name="description" formControlName="description">
      </div>
      <div *ngIf="(rentACarGroup.get('description').invalid && rentACarGroup.get('description').touched) || rentACarGroup.get('description').dirty">
        <small *ngIf="rentACarGroup.get('description').errors?.required" class="text-danger">Description is required</small>
      </div>

    </div>
  </div>
  <div class="modal-footer">
    <small *ngIf="reason != ''" class="text-danger">{{ reason }}</small>
    <button type="submit" [disabled]="!rentACarGroup.valid" class="btn btn-outline-dark">Add</button>
  </div>
</form>
