<div *ngIf="!!flight">
  <!-- Flight info display -->

  <h1>Flight details</h1>
  <section class="container profile-display">
    <div class="row">
      <div class="col-md-6">
        <label>Aviation</label>
      </div>
      <div class="col-md-6">
        <p>{{flight.aviationCompanyName}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label>From</label>
      </div>
      <div class="col-md-6">
        <p>{{flight.from.cityName}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label>To</label>
      </div>
      <div class="col-md-6">
        <p>{{flight.to.cityName}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label>Departure Time</label>
      </div>
      <div class="col-md-6">
        <p>{{flight.departureTime}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label>Arrival Time</label>
      </div>
      <div class="col-md-6">
        <p>{{flight.arrivalTime}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label>Travel length</label>
      </div>
      <div class="col-md-6">
        <p>{{flight.travelLength}} (km)</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label>Ticket price</label>
      </div>
      <div class="col-md-6">
        <p>{{flight.ticketPrice}} ($)</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label>No. changeovers</label>
      </div>
      <div class="col-md-6">
        <p>{{flight.numberOfChangeovers}}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <label>Average rating</label>
      </div>
      <div class="col-md-6">
        <p>TODO</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <button class="btn btn-warning" (click)="openFlightModal(content)" [disabled]="!canEditFlight()">Edit info</button>
      </div>
    </div>
  </section>
  <hr />

  <!-- Flight seats display-->
  <h3>Flight seats</h3>
  <section class="container">
    <app-flight-seats [flightSeats]="flight.seats"></app-flight-seats>
    <div class="btn-group" role="group" aria-label="Flight seat actions">
      <button class="btn btn-primary" disabled>Add</button>
      <button class="btn btn-danger" disabled>Delete seat(s)</button>
    </div>
  </section>
  <hr />
  <button class="btn-reservation-sticky btn btn-success" (click)="openReservationForm()" *ngIf="canMakeReservation()">Make reservation(s)</button>
</div>

<ng-template #content let-modal>

  <!--Edit flight modal-->
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Flight update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="flightGroup">
      <div class="form-group">
        <label for="departureTime">Departure Time</label>
        <input id="departureTime" type="datetime-local" name="departureTime" formControlName="departureTime"
               class="form-control" [class.is-invalid]="isInvalid('departureTime')" />
      </div>
      <div class="form-group">
        <label for="arrivalTime">Arrival Time</label>
        <input id="arrivalTime" type="datetime-local" name="arrivalTime" formControlName="arrivalTime"
               class="form-control" [class.is-invalid]="isInvalid('arrivalTime')" />
      </div>
      <div class="form-group">
        <label for="travelLength">Travel length (km)</label>
        <input id="travelLength" type="number" name="travelLength" formControlName="travelLength"
               class="form-control" [class.is-invalid]="isInvalid('travelLength')" />
      </div>
      <div class="form-group">
        <label for="ticketPrice">Ticket price ($)</label>
        <input id="ticketPrice" type="number" name="ticketPrice" formControlName="ticketPrice"
               class="form-control" [class.is-invalid]="isInvalid('ticketPrice')" />
      </div>
      <div class="form-group">
        <label for="numberOfChangeovers">Number Of Changeovers</label>
        <input id="numberOfChangeovers" type="number" name="numberOfChangeovers" formControlName="numberOfChangeovers"
               class="form-control" [class.is-invalid]="isInvalid('numberOfChangeovers')" />
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" [disabled]="flightGroup.invalid" class="btn btn-outline-dark" (click)="modal.close('Save click')">Submit</button>
  </div>
</ng-template>
