<div class="container profile-display">
  <div class="row">
    <div class="col-md-6">
      <label>Name</label>
    </div>
    <div class="col-md-6">
      <p>{{rentACar.name}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label>Address</label>
    </div>
    <div class="col-md-6">
      <p>{{rentACar.address}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label>Opis</label>
    </div>
    <div class="col-md-6">
      <p>{{rentACar.description}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label>Cars</label>
    </div>
    <div class="col-md-6">
      <div *ngFor="let car of rentACar.cars">
        <p>
          <span>{{car.name}}</span>
          <br />
          <span *ngIf="backend.getLogedInUserType() == 'SystemAdmin' || backend.getLogedInUserType() == 'RentACarAdmin'">Rating: {{car.averageRating.toPrecision(3)}}</span>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label>Branches</label>
    </div>
    <div class="col-md-6">
      <div *ngFor="let branch of rentACar.branches">
        <p>{{branch.name}}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <button *ngIf="backend.getLogedInUserType() == 'RentACarAdmin'" class="btn btn-warning" (click)="edit(rentACar.id)">Edit</button>
      <button *ngIf="backend.getLogedInUserType() == 'SystemAdmin'" class="btn btn-danger" (click)="remove(rentACar.id)">Remove</button>
      <button *ngIf="backend.isLogedIn()" class="btn btn-outline-primary" (click)="quickReservation()">Quick reservations</button>
    </div>
  </div>
</div>
