<h1 id="usersLabel">Users</h1>

<form #filterForm="ngForm" (ngSubmit)="onSubmit()">
  <div class=" form-row">
    <div class="form-group col">
      <input type="text" name="search" class="form-control" placeholder="Search..." [(ngModel)]="search">
    </div>
    <div class="form-group col">
      <div class="form-check">
        <input name="friendsOnly" class="form-check-input" type="checkbox" id="gridCheck" [(ngModel)]="friendsOnly">
        <label class="form-check-label" for="gridCheck">
          Friends only
        </label>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group">
      <input type="submit" class="form-control btn btn-primary" value="Apply filter" />
    </div>
  </div>
</form>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="displayedUsers">
  <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Email</th>
      <th>City</th>
      <th>Phone</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of displayedUsers">
      <td>{{user.name}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.email}}</td>
      <td>{{user.city}}</td>
      <td>{{user.phone}}</td>
      <td>
        <div *ngIf="!isCurrentUser(user)">
          <button *ngIf="isFriendToCurrentUser(user)" (click)="unfriend(user)" class="btn btn-secondary">Unfriend</button>
          <button *ngIf="!isFriendToCurrentUser(user)" (click)="addFriend(user)" class="btn btn-secondary">Add Friend</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
