<form [formGroup]="editGroup" (ngSubmit)="onSubmit()">

  <div class="container profile-display">
    <div class="row">
      <div class="col-md-3">
        <label>Name</label>
      </div>
      <div class="col-md-3 m-2">
        <input type="text" formControlName="name" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label>Address</label>
      </div>
      <div class="col-md-3 m-2">
        <input type="text" formControlName="address"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label>Opis</label>
      </div>
      <div class="col-md-3 m-2">
        <input type="text" formControlName="description" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label>Cenovnik</label>
      </div>
      <div class="col-md-3 m-2">
        <p>TODO</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label>Cars</label>
      </div>
      <div class="col-md-6">
        <div *ngFor="let car of rentACar.cars; let i = index">
          <input type="text" value="{{car.Name}}" />
          <button type="button" class="btn btn-danger m-2 col-md-2" (click)="removeCar(i)">Remove</button>
        </div>
        <div>
          <button type="button" class="btn btn-success" (click)="addCar(content)">Add car</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label>Branches</label>
      </div>
      <div class="col-md-6">
        <div *ngFor="let branch of rentACar.branches; let i = index">
          <input type="text" class="col-md-4" value="{{branch}}" />
          <button type="button" class="btn btn-danger m-2 col-md-2" (click)="removeBranch(i)">Remove</button>
        </div>
        <div>
          <button type="button" class="btn btn-success" (click)="addBranch()">Add branch</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</form>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-add-car">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="formGroup">
      <div class="form-group">
        <label for="name">Name</label>
        <div class="input-group">
          <input [class.is-invalid]="formGroup.get('name').invalid && formGroup.get('name').touched" type="text" autocomplete="on" id="name" class="form-control" name="name" formControlName="name">
        </div>
        <div *ngIf="(formGroup.get('name').invalid && formGroup.get('name').touched) || formGroup.get('name').dirty">
          <small *ngIf="formGroup.get('name').errors?.required" class="text-danger">Name is required</small>
        </div>

        <br />

        <label for="passengerNumber">Number of passengers</label>
        <div class="input-group">
          <input [class.is-invalid]="formGroup.get('passengerNumber').invalid && formGroup.get('passengerNumber').touched" type="number" autocomplete="on" id="passengerNumber" class="form-control" name="passengerNumber" formControlName="passengerNumber">
        </div>
        <div *ngIf="(formGroup.get('passengerNumber').invalid && formGroup.get('passengerNumber').touched) || formGroup.get('passengerNumber').dirty">
          <small *ngIf="formGroup.get('passengerNumber').errors?.required" class="text-danger">Number of passenger is required</small>
        </div>

        <br />

        <label for="type">Type</label>
        <div class="input-group">
          <input [class.is-invalid]="formGroup.get('type').invalid && formGroup.get('type').touched" type="text" autocomplete="on" id="type" class="form-control" name="type" formControlName="type">
        </div>
        <div *ngIf="(formGroup.get('type').invalid && formGroup.get('type').touched) || formGroup.get('type').dirty">
          <small *ngIf="formGroup.get('type').errors?.required" class="text-danger">Type is required</small>
        </div>

        <br />

        <label for="brand">Brand</label>
        <div class="input-group">
          <input [class.is-invalid]="formGroup.get('brand').invalid && formGroup.get('brand').touched" type="text" autocomplete="on" id="brand" class="form-control" name="brand" formControlName="brand">
        </div>
        <div *ngIf="(formGroup.get('brand').invalid && formGroup.get('brand').touched) || formGroup.get('brand').dirty">
          <small *ngIf="formGroup.get('brand').errors?.required" class="text-danger">Brand is required</small>
        </div>

        <br />

        <label for="model">Model</label>
        <div class="input-group">
          <input [class.is-invalid]="formGroup.get('model').invalid && formGroup.get('model').touched" type="text" autocomplete="on" id="model" class="form-control" name="model" formControlName="model">
        </div>
        <div *ngIf="(formGroup.get('model').invalid && formGroup.get('model').touched) || formGroup.get('model').dirty">
          <small *ngIf="formGroup.get('model').errors?.required" class="text-danger">Model is required</small>
        </div>

        <br />

        <label for="buildDate">Year built</label>
        <div class="input-group">
          <input [class.is-invalid]="formGroup.get('buildDate').invalid && formGroup.get('buildDate').touched" type="number" autocomplete="on" id="buildDate" class="form-control" name="buildDate" formControlName="buildDate">
        </div>
        <div *ngIf="(formGroup.get('buildDate').invalid && formGroup.get('buildDate').touched) || formGroup.get('buildDate').dirty">
          <small *ngIf="formGroup.get('buildDate').errors?.required" class="text-danger">Year built is required</small>
        </div>

        <br />

        <label for="costPerDay">Cost per day</label>
        <div class="input-group">
          <input [class.is-invalid]="formGroup.get('costPerDay').invalid && formGroup.get('costPerDay').touched" type="number" autocomplete="on" id="costPerDay" class="form-control" name="costPerDay" formControlName="costPerDay">
        </div>
        <div *ngIf="(formGroup.get('costPerDay').invalid && formGroup.get('costPerDay').touched) || formGroup.get('costPerDay').dirty">
          <small *ngIf="formGroup.get('costPerDay').errors?.required" class="text-danger">Cost per day is required</small>
        </div>

      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" [disabled]="formGroup.invalid" class="btn btn-outline-dark" (click)="modal.close('Save click')">Submit</button>
  </div>
</ng-template>
