<div *ngIf="step === 1">
  <form #filterForm="ngForm" (ngSubmit)="onFilter()">
    <div class="form-row">
      <div class="form-group col">
        <input type="text" name="search" class="form-control" placeholder="Search..." [(ngModel)]="search">
      </div>
      <div class="form-group col-md-2">
        <input type="submit" class="form-control btn btn-primary" value="Apply filter" />
      </div>
    </div>
  </form>

  <table class='table table-striped' aria-labelledby="tableLabel">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Description</th>
        <th>Car count</th>
        <th>Branches count</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let agency of displayAgencies">
        <td>{{agency.Name}}</td>
        <td>{{agency.Address}}</td>
        <td>{{agency.Description}}</td>
        <td>{{agency.Cars.length}}</td>
        <td>{{agency.Branches.length}}</td>
        <td><button type="button" class="btn btn-primary" (click)="choosedAgency(agency)">Choose</button></td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="step === 2">
  <form [formGroup]="editGroup" (ngSubmit)="onSubmit()">

    <div class="input-group" formGroupName="take">
      <div class="row">
        <label>Datum preuzimanja</label>
        <input class="form-control" placeholder="yyyy-mm-dd" (click)="date.toggle()" ngbDatepicker #date="ngbDatepicker" formControlName="date">
      </div>
      <div class="row">
        <label>Lokacija preuzimanja</label>
        <input class="form-control" type="text" formControlName="location" />
      </div>
    </div>

    <div class="input-group" formGroupName="return">
      <div class="row">
        <label>Datum vracanja</label>
        <input class="form-control" placeholder="yyyy-mm-dd" (click)="d.toggle()" ngbDatepicker #d="ngbDatepicker" formControlName="date">
      </div>
      <div class="row">
        <label>Lokacija vracanja</label>
        <input class="form-control" type="text" formControlName="location" />
      </div>
    </div>
    <div class="row">
      <label>Tip</label>
      <input class="form-control" type="text" formControlName="type" />
    </div>
    <div class="row">
      <label>Broj putnika</label>
      <input class="form-control" type="number" formControlName="number" />
    </div>
    <div class="row">
      <label>Cenovni rang</label>
      <input class="form-control" id="cost" type="range" min="0" max="2000" formControlName="costRange" (input)="valueChanged($event.target.value)" />
      <label>${{rangeVal}}</label>
    </div>
    <input type="submit" class="btn btn-primary" value="Submit" />
  </form>
</div>

<div *ngIf="step === 3">
  <table class='table table-striped' aria-labelledby="tableLabel">
    <thead>
      <tr>
        <th>Name</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Year of production</th>
        <th>Passenger number</th>
        <th>Type</th>
        <th>Average score</th>
        <th>Cost for trip</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let car of foundCars">
        <td>{{car.Name}}</td>
        <td>{{car.Brand}}</td>
        <td>{{car.Model}}</td>
        <td>{{car.BuildDate}}</td>
        <td>{{car.PassengerNumber}}</td>
        <td>{{car.Type}}</td>
        <td>{{car.averageRating()}}</td>
        <td>${{calculateCostForRange(car)}}</td>
        <td><button type="button" class="btn btn-primary" (click)="reserve(car)">Choose</button></td>
      </tr>
    </tbody>
  </table>
</div>
