<div *ngIf="step === 1">
  <form #filterForm="ngForm" (ngSubmit)="onFilter()">
    <div class="form-row">
      <div class="form-group col">
        <input type="text" name="search" class="form-control" placeholder="Search..." [(ngModel)]="search">
      </div>
      <div class="form-group col-md-2">
        <input type="submit" class="form-control btn btn-primary" value="Apply filter" />
      </div>
    </div>
  </form>

  <table class='table table-striped' aria-labelledby="tableLabel">
    <thead>
      <tr>
        <th>Name</th>
        <th>Branch name</th>
        <th>Rating</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let agency of displayAgencies">
        <td>{{agency.name}}</td>
        <td>
          <div *ngFor="let branch of agency.branches">
            {{branch.name}}
          </div>
        </td>
        <td>{{agency.averageRating}}</td>
        <td><button type="button" class="btn btn-primary" (click)="choosedAgency(agency)">Choose</button></td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="step === 2">
  <form [formGroup]="editGroup" (ngSubmit)="onSubmit()">

    <div class="input-group" formGroupName="take">
      <div class="row col-md-3">
        <label for="takeDate">Datum preuzimanja</label>
        <input [class.is-invalid]="editGroup.get('take').get('date').invalid && editGroup.get('take').get('date').touched" class="form-control" id="takeDate" autocomplete="off" placeholder="yyyy-mm-dd" (click)="date.toggle()" ngbDatepicker #date="ngbDatepicker" formControlName="date">
        <div *ngIf="(editGroup.get('take').get('date').invalid && editGroup.get('take').get('date').touched) || editGroup.get('take').get('date').dirty">
          <small *ngIf="editGroup.get('take').get('date').errors?.required" class="text-danger">Date is required</small>
        </div>
      </div>
      <div class="row col-md-3">
        <label for="takeLocation">Lokacija preuzimanja</label>
        <input [class.is-invalid]="editGroup.get('take').get('location').invalid && editGroup.get('take').get('location').touched" class="form-control" id="takeLocation" type="text" formControlName="location" />
        <div *ngIf="(editGroup.get('take').get('location').invalid && editGroup.get('take').get('location').touched) || editGroup.get('take').get('location').dirty">
          <small *ngIf="editGroup.get('take').get('location').errors?.required" class="text-danger">Location is required</small>
        </div>
      </div>
    </div>

    <div class="input-group" formGroupName="return">
      <div class="row col-md-3">
        <label for="returnDate">Datum vracanja</label>
        <input [class.is-invalid]="editGroup.get('return').get('date').invalid && editGroup.get('return').get('date').touched" class="form-control" id="returnDate" autocomplete="off" placeholder="yyyy-mm-dd" (click)="d.toggle()" ngbDatepicker #d="ngbDatepicker" formControlName="date">
        <div *ngIf="(editGroup.get('return').get('date').invalid && editGroup.get('return').get('date').touched) || editGroup.get('return').get('date').dirty">
          <small *ngIf="editGroup.get('return').get('date').errors?.required" class="text-danger">Date is required</small>
        </div>
      </div>
      <div class="row col-md-3">
        <label for="returnLocation">Lokacija vracanja</label>
        <input [class.is-invalid]="editGroup.get('return').get('location').invalid && editGroup.get('return').get('location').touched" id="returnLocation" class="form-control" type="text" formControlName="location" />
        <div *ngIf="(editGroup.get('return').get('location').invalid && editGroup.get('return').get('location').touched) || editGroup.get('return').get('location').dirty">
          <small *ngIf="editGroup.get('return').get('location').errors?.required" class="text-danger">Location is required</small>
        </div>
      </div>
    </div>
    <div class="row">
      <label for="type">Tip</label>
      <input [class.is-invalid]="editGroup.get('type').invalid && editGroup.get('type').touched" class="form-control" id="type" type="text" formControlName="type" />
      <div *ngIf="(editGroup.get('type').invalid && editGroup.get('type').touched) || editGroup.get('type').dirty">
        <small *ngIf="editGroup.get('type').errors?.required" class="text-danger">Type is required</small>
      </div>
    </div>
    <div class="row">
      <label for="passengerNumber">Broj putnika</label>
      <input [class.is-invalid]="editGroup.get('number').invalid && editGroup.get('number').touched" class="form-control" id="passengerNumber" type="number" formControlName="number" />
      <div *ngIf="(editGroup.get('number').invalid && editGroup.get('number').touched) || editGroup.get('number').dirty">
        <small *ngIf="editGroup.get('number').errors?.required" class="text-danger">Passenger number is required</small>
      </div>
    </div>
    <div class="row">
      <label>Cenovni rang</label>
      <input class="form-control custom-range" id="cost" type="range" min="0" max="2000" formControlName="costRange" (input)="valueChanged($event.target.value)" />
      <label>${{rangeVal}}</label>
    </div>
    <input type="submit" [disabled]="!editGroup.valid" class="btn btn-primary" value="Submit" />
  </form>
</div>

<div *ngIf="step === 3">
  <table class='table table-striped' aria-labelledby="tableLabel">
    <thead>
      <tr>
        <th>Name</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Year of production</th>
        <th>Passenger number</th>
        <th>Type</th>
        <th>Average score</th>
        <th>Cost for trip</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let car of foundCars">
        <td>{{car.name}}</td>
        <td>{{car.brand}}</td>
        <td>{{car.model}}</td>
        <td>{{car.buildDate}}</td>
        <td>{{car.passengerNumber}}</td>
        <td>{{car.type}}</td>
        <td>{{car.averageRating}}</td>
        <td>${{car.costForRange}}</td>
        <td><button type="button" class="btn btn-primary" (click)="reserve(car)">Choose</button></td>
      </tr>
    </tbody>
  </table>
</div>
